<strong>Olá, {{studentName}} </strong>
<p>Sua pergunta foi respondida por um dos nossos nutricionistas. Confira abaixo:</p>
<br />

<p>
  Pergunta: <i> {{question}} </i> <br />
  Resposta: <strong> {{answer}} </strong>
</p>
<br />

<p>Qualquer outra dúvida entre em contato com a nossa equipe pelo app.</p>
